<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Jogo da Forca</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forca.css') }}">
</head>
<body>
  <div class="container"
       data-palavra="{{ palavra }}"
       data-categoria="{{ categoria }}"
       data-dicas='{{ dicas|tojson }}'
       data-todas-palavras='{{ todas_palavras|tojson }}'>
       
    <h1>Jogo da Forca</h1>

    <div id="dica-inicial" class="dica container-limitada"></div>
    <div id="palavra" class="palavra"></div>
    <div class="letras" id="letras"></div>
    <div class="erros" id="erros"></div>

    <div class="input-group dica-group container-limitada">
      <span class="input-group-text dica-botao" id="pedir-dica" title="Clique para ver a dica">💡</span>
      <div id="mais-dica" class="form-control dica-conteudo">Clique para receber uma dica extra</div>
    </div>

    <div class="buttons">
      <a href="/" class="btn">Voltar</a>
      <button id="btn-recomecar" class="btn">Recomeçar</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/forca.js') }}"></script>
</body>
</html>
